.border-top-l{
  border-top-left-radius: 0px !important;
}
.btn-tab-navLink{
  padding: 7px;
  font-size: 12px !important;
  border-radius: 10px;
}
.btnRbl{
  border-bottom-left-radius: 0px !important;
}
.btnRbr{
  border-bottom-right-radius: 0px !important;
}
.card-table{
  font-size: 12px !important;
  .input-group{
    margin-top: -5px;
    margin-bottom: -20px;
    input{
      font-size: 13px;
      box-shadow: none !important;
      outline: none !important;
    }
    .btn-search{
      background: none;
      border: none;
      font-size: 15px;
      color: rgba(17, 17, 17, 0.338);
      transition: 0.3s;
      &:hover{
        color: rgb(17, 17, 17);
      transition: 0.3s;
      }
    }
  }
  .h-tablet{
    overflow: auto;
    min-height: 55vh;
  }
  .h-tablet-80{
    overflow: auto;
    min-height: 72vh;
  }
  .text-right{
    text-align: right;
  }
  .card-body{
    h6{
      color: #111;
      opacity: 1 !important;
      margin-left: 10px;
    }
    .pagination{
      h6{
        font-size: 13px !important;
      }
      .btn-group{
        margin-top: -10px;
        margin-bottom: -10px;
        .btn{
          border: none !important;
          opacity: 0.4;
          &:hover{
            opacity: 1;
          }
          font-size: 12px !important;
          .icon-btn-pagination{
            font-size: 18px !important;
          }
        }
      }
    }
  }
  
  table{
    thead{
    background:#1c1e230c;
    color: rgba(17, 17, 17, 0.501);
    border-bottom: 0px solid #ffffff;
    }
    tbody{
      tr{
        border-bottom:  solid #1c1e230c !important;
      }
      td{
        img{
          margin-top: -7px;
          margin-bottom: -5px;
        }
        .link-tab-drop:hover{
          background: #3e4149;
          color: #fff;
        }
        .bg-primary{
          padding-left: 10px;
          padding-right: 10px;
          color: #0d6efd !important;
          background: #0d6dfd2e !important;
          font-size: 8px; 
        }
        .btn-dropdown{
          border: none;
          background: none !important;
          color: rgba(17, 17, 17, 0.397) !important;
          margin-top: -12px;
          margin-bottom: -10px;
          box-sizing: none !important;
          outline: none !important;
          &:hover{
            color: #111 !important;
          }
        }
        .dropdown-menu{
          border-radius: 10px;
          border: none;
          font-size: 14px!important;
          box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.053)!important;
        }
        .icon-marg{
          margin-top: -3px;
          margin-bottom: -9px;
          .hiOutlineEye-tab-link{
            color: #111;
            opacity: 0.5;
            font-size: 15px;
            margin-top: -10px;
            margin-bottom: -10px;
            &:hover{
              opacity: 1;
            }
          }
        }
      }
    }
  }
  
}